/* font */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

html{
    box-sizing: border-box;
}

body{
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(0deg, rgb(31, 31, 31) 0%, rgba(177,18,187,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.music-player-container{
    padding: 1.2rem 1.2rem;
    border-radius: 10px;
    padding-bottom: 2%;
}

.song-title{
    font-family: League Spartan, sans-serif;
    font-weight: 500;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 5px;
    margin-top: 30px;
}

.song-artist{
    font-family: League Spartan, sans-serif;
    font-weight: 300;
    color: rgb(205, 204, 204);
    font-size: 1.2rem;
    margin-top: 0px;
}

h5{
    font-family: League Spartan, sans-serif;
    font-weight: 400;
    color: white;
    font-size: 0.9rem;
    margin-bottom: 0;
    margin-top: 3px;
    text-align: center;
}

h6{
    font-family: League Spartan, sans-serif;
    font-weight: 600;
    color: white;
    font-size: 1.1rem;
    margin-top: 5px;
    text-align: center;
}

.album-cover-container{
    width: 330px;
}

#album-cover{
    width: 330px;
    border-radius: 10px;
}

.progress-bar-container{
    background: rgba(211, 55, 232, 0.323);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5%;
    height: 4px;
    width: 100%;
}

.progress{
    background: white;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transform: width 0.1s linear;
}

/* control buttons */
.controls{
    position: relative;
    margin-top: 20%;
    display: flex;
    justify-content: center;
    margin-left: 15%;
}

.buttons{
    font-size: 30px;
    color: white;
    margin-right: 50px;
    cursor: pointer;
    user-select: none; /* because there's no text to select since it's an icon */
}

.buttons:hover{
    color: rgb(171, 168, 168);
}

.duration-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
    color: rgb(205, 204, 204);
    font-size: 0.8rem;
    font-family: League Spartan, sans-serif;
    margin-top: 10px;
}

@media (max-width: 500px){
    .album-cover-container{
        width: 370px;
        display: flex;
        justify-content: center;
    }
    #album-cover{
        width: 360px;
        border-radius: 10px;
    }
    .song-title{
        font-size: 1.5rem;
        margin-bottom: 5px;
        margin-top: 60px;
        margin-left: 1.7%;
        font-weight: 600;
    }
    .song-artist{
        font-size: 1.2rem;
        margin-top: 0px;
        margin-left: 1.8%;
        margin-bottom: 10%;
    }
    .controls{
        margin-top: 10%;
        margin-left: 15%;
    }
    .buttons{
        margin-right: 50px;
    }
    .music-player-container{
        padding-bottom: 5%;
        width: 370px;
    }
    .progress-bar-container{
        margin-left: 1.8%;
        width: 97%;
    }
}
